<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; color: green">
  <img src="../assets/img/logo.jpg" width="150">
  <p>THELLE MOGOERANE REGIONAL HOSPITAL</p>
</div>

<button mat-stroked-button color="primary" [routerLink]="['/Admin']">ADMIN</button>
<button mat-stroked-button color="primary" [routerLink]="['/Doctor',did]">DOCTOR</button>
<button mat-stroked-button color="primary" [routerLink]="['/Patient']">PATIENT</button>

<router-outlet></router-outlet>
